.history-container {
  min-height: 23rem;
}

/* Read more */
.read-more-container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 23rem;
  padding: 0.9rem;
  background:
    var(--slide-radial-left), var(--slide-radial-right), var(--slide-base);
  background-repeat: no-repeat;
  box-shadow: var(--shadow-md);
  border-radius: 12px 12px;
  overflow: vissible;
  text-overflow: unset;
  gap: 0.6rem;
}

.read-more-header-content {
  display: flex;
  flex-direction: column;
  gap: 0.05rem;
}

.mood-title {
  font-size: 0.9rem;
  font-weight: 700;
}

.read-more-container .date-created {
  font-size: 0.7rem;
  font-weight: 600;
}

.mood-text {
  display: flex;
  width: 100%;
  max-height: 100%;
  font-size: 0.9rem;
  font-weight: 300;
  margin-bottom: 3rem;
  padding-right: 0.7rem;
  overflow-y: auto;
}

.read-more-footer-content {
  position: absolute;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  bottom: 0.8rem;
}

.left-footer-btns {
  display: flex;
  gap: 0.8rem;
}

.close-read-more-btn,
.edit-text-btn,
.delete-text-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.8rem;

  background: #ddc3a476;
  color: #000000d7;
  border: none;
  border-radius: 2rem;
  padding: 0.01rem;
  width: 1.9rem;
  height: 1.9rem;
}

.edit-text-btn,
.delete-text-btn {
  margin-right: 0;
  font-weight: 100;
}
