.dashboard-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.18rem;
}

.dashboard-content-wrapper h1 {
  color: var(--text-primary);
  letter-spacing: 0.5px;
  font-size: 1.25rem;
  font-weight: 500;
}

.description-wrapper {
  padding: 0;
  margin: 0rem;
}

.dashboard-content-wrapper p {
  color: var(--text-secondary);
  font-size: 0.8rem;
  font-weight: 400;
}

.dashboard-content-wrapper .date-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.1rem;
}

.dashboard-content-wrapper .clock-icon {
  color: var(--text-secondary);
}

.clock-icon svg {
  display: inline-block;
  vertical-align: -5%;
}

.dashboard-content-wrapper .date-container {
  font-size: 0.7rem;
}

@media (min-width: 768px) {
  .dashboard-content-wrapper h1 {
    font-size: 1.8rem;
  }

  .dashboard-content-wrapper p {
    font-size: 0.8rem;
  }

  .dashboard-content-wrapper .date-container {
    font-size: 0.8rem;
  }
}

/* medium */
@media (min-width: 1024px) {
  .dashboard-content-wrapper h1 {
    font-size: 2rem;
  }

  .dashboard-content-wrapper p {
    font-size: 0.9rem;
  }

  .dashboard-content-wrapper .date-container {
    font-size: 0.8rem;
  }
}

/* Ipad */
@media (min-width: 1280px) {
  .dashboard-content-wrapper h1 {
    font-size: 2rem;
  }

  .dashboard-content-wrapper p {
    font-size: 0.9rem;
  }

  .dashboard-content-wrapper .date-container {
    font-size: 0.8rem;
  }
}

/* Laptop */
@media (min-width: 1440px) {
  .dashboard-content-wrapper h1 {
    font-size: 2.5rem;
  }

  .dashboard-content-wrapper p {
    font-size: 1.2rem;
  }

  .dashboard-content-wrapper .date-container {
    font-size: 1.1rem;
  }
}
