.dashboard-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: .18rem;
}

.dashboard-content-wrapper h1 {
  color: var(--text-primary);
  letter-spacing: 0.5px;
  font-size: 1.25rem;
  font-weight: 800;
}

.description-wrapper {
  padding: 0;
  margin: 0rem;
}

.dashboard-content-wrapper p {
  color: var(--text-secondary);
  font-size: 0.8rem;
}

.dashboard-content-wrapper .date-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.1rem;
}

.dashboard-content-wrapper .clock-icon {
  color: var(--text-secondary);
}

.clock-icon svg {
  display: inline-block;
  vertical-align: -5%;
}

.dashboard-content-wrapper .date-container {
  font-size: 0.8rem;
}
