.tab-btns-container {
  display: flex;
  gap: 1.4rem;
  overflow-x: auto; /* allow scrolling if screen is too small */
  padding: 0.6rem 0;
  margin-bottom: .2rem;
}

.tab-btn {
  font-size: 0.9rem;
  color: var(--text-secondary);
  padding: 0;
  border: none;
  background: transparent;
  -webkit-tap-highlight-color: transparent; /* remove mobile tap flash */
  cursor: pointer;
  outline: none;
  white-space: nowrap; /* prevent text from breaking to next line */
  transition:
    color 0.2s ease,
    font-weight 0.2s ease; /* smooth active change */
}

.tab-btn.active {
  font-weight: 700;
  color: #262424;
}
