
.reflection-card-wrapper input {
  width: 100%;
  color: #4f4f4fff;
  background: rgba(187, 173, 119, 0.49);
  border: none;
  border-radius: 40px;
  font-size: 16px;
  padding: 1.1rem;
  outline: none;
}

.reflection-card-wrapper input::placeholder {
  color: rgb(114, 114, 114);
  font-size: 15px;
}

.reflection-input-wrapper {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.reflection-input-wrapper input {
  width: 100%;
}

.submit-btn {
  position: absolute;
  top: 25%;
  right: 0.8rem;
  cursor: pointer;
  color: #505050ff;
}
