.dashboard-tab-container {
  position: relative;
}

.panel-container {
}

/* Sliding Panel */
.insight-panel {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;

  transform: scale(0, 0); /* start collapsed */
  transform-origin: bottom right; /* expand from bottom-right */
  padding: 0.6rem; /* start padding small */

  background:
    var(--slide-radial-left), var(--slide-radial-right), var(--slide-base);
  background-repeat: no-repeat;
  box-shadow: var(--shadow-md);
  border-radius: 12px 12px;
  overflow: hidden;

  transition:
    transform 0.3s ease,
    padding 0.3s ease;
  z-index: 999;
}

.insight-panel.open {
  transform: scale(1, 1); /* expand fully */
  padding: 0.7rem 1rem;
}

/* Panel Header */
.insight-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.insight-header h4 {
  margin: 0;
  font-size: 15px;
  font-weight: 700;
}

.close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;

  position: absolute;
  bottom: 0.9rem;
  right: 0.9rem;
  background: #ddc3a476;
  color: #555050;

  width: 32px;
  height: 32px;

  border-radius: 4rem;
  border-width: 0;
}

/* Panel Text */
.insight-text {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}
