.mood-icon-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 0.8rem 0.4rem;
  gap: 0.5rem;
}
.mood-svg-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem;
  border-radius: 300px;

  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.08);

  transition: transform 4s ease, box-shadow 0.5s ease;
}

.mood-svg-icon:active {
  transform: scale(4.96);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

.mood-icon-wrapper .mood-name {
  font-size: 0.6rem;
  color: var(--text-secondary);
}
