.modal-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

/* Darkened backdrop */
.modal-backdrop {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.53);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(6px);
}

.edit-modal {
  position: relative;
  top: 50%;
  width: 70%;
  max-width: 420px;
  background: var(--bg-card);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 0.6rem;
  border-radius: 22px;
}

.modal-title {
  display: flex;
  align-items: center;
  width: 100%;
  color: #494747;
  border-radius: 16px;
}

.modal-title .mood-icon {
  color: white;
  padding: 0.9rem 0.9rem 0.6rem 0.3rem;
  margin: 0;
}

.edit-reflection-wrapper {
  display: flex;
  font-size: 0.65rem;
  text-align: center;
}

.modal-body {
  position: relative;
  top: -12px;
}

.textarea-container .edit-textarea {
  border: none;
  width: 100%;
  max-width: 100%;
  height: 65px;
  font-size: 16px;
  outline: none;
  color: var(--text-secondary);
  overflow-x: auto;
  padding: 0.5rem 0.9rem;
}

.edit-textarea::placeholder {
  font-size: 14px;
}

.modal-footer {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  flex: 1;
  border-radius: 999px;
  padding: 0.7rem;
  cursor: pointer;
}

.btn.cancel {
  border: 1px solid #ccc;
  width: 120px;
  color: var(--text-secondary);
  background: #fff;
}

.btn.save {
  border: none;
  color: #fff;
  width: 120px;
  box-shadow: var(--shadow-sm);
}

/* .edit-textarea {
  width: 100%;
  height: 40px;
  padding: 0.5rem 0.8rem;
  margin-bottom: 0.4rem;
  overflow-x: auto;
  resize: none;
  box-shadow: var(--shadow-xs);
  background: var(--bg-input);
  border: none;
  font-size: 16px;
  outline: none;
  color: var(--text-secondary);
  z-index: 50;
} */
