.top-nav-container {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}

.nav-mood-icon {
  width: 40px;
  height: 40px;
  background: rgba(138, 137, 137, 0.54);
  border-radius: 100%;
}
