.mood-List-container {
  display: flex;
  flex-direction: column;
}

.mood-icons-container {
  margin: var(--container-margin);
  display: flex;
  justify-content: space-evenly;
  background: var(--container-radial-left), var(--container-radial-right), var(--container-base);
  padding: 0;
  border-radius: 20px;
}

.mood-icons-container svg {
  color: #fff;
}

.mood-List-container h1 {
  color: #202020ff;
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 3px;
}

.mood-icons-container {
  display: flex;
  /* gap: .1rem; */
}

.current-mood-container {
  display: flex;
  justify-content: center;
}
