.mood-item-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  background: var(--bg-card);
  border-radius: 20px;
  margin: var(--container-margin);
  padding: 0.25rem;
  box-shadow: var(--shadow-md);
  /* animation: dropIn 0.5s ease-in-out; */
}

.item-content-wrapper {
  padding: 0.3rem 0.8rem 0.1rem 0;
}

.item-content {
  display: flex;
  justify-content: space-between;
}

.card-left-content {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  padding: 0.1rem 0.4rem 0rem 0.2rem;
  line-height: 1rem;
}

.item-content .svg-wrapper {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: #fff;
}

.item-content .item-name {
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--text-primary);
}

.mood-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item-content .date {
  font-size: 0.65rem;
  color: var(--text-secondary);
}

.right-content {
  display: flex;
  gap: 0.7rem;
}

.remove-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-text: center;

  width: 1.5rem;
  height: 1.5rem;
  border: none;
  border-radius: 100px;
  background: #f1ecec;
  padding: 0.2rem;
  color: #877979;
}

.reflection-container {
  overflow: hidden;
  margin: 0.2rem 0.2rem;
}

.reflection-container .reflection-text {
  position: relative;
  padding: 0.1rem 0.8rem;
  color: var(--text-primary);
  line-height: 1.45;
  width: 60%;
  font-size: 0.75rem;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.read-more-btn {
  position: absolute;

  right: 1.1rem;
  bottom: 0.7rem;
  background: none;
  border: none;
  color: #4e46e5c0;
  cursor: pointer;
  padding: 0;
  margin: 0;
  font-size: 0.75rem;
}

.edit--btn {
  position: absolute;

  right: 1.1rem;
  bottom: 0.7rem;
  background: none;
  border: none;
  color: #4e46e5c0;
  cursor: pointer;
  padding: 0;
  margin: 0;
  font-size: 0.75rem;
}
