.mood-item-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  background: var(--bg-card);
  border-radius: 20px;
  margin: var(--container-margin);
  padding: 0.4rem;
  box-shadow: var(--shadow-md);
  animation: dropIn 0.5s ease-out;
}

@keyframes dropIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.item-content {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  padding: 0.4rem 0.4rem .1rem 0.2rem;
  line-height: 1.2rem;
}

.item-content .svg-wrapper {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: #fff;
}

.item-content .item-name {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--text-primary);
}
.mood-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item-content .date {
  font-size: 0.77rem;
  color: var(--text-secondary);
}
.reflection-container {
  margin: .2rem 0;
}
.reflection-container .reflection-text {
  padding: 0.1rem 0.8rem;
  color: var(--text-primary);
  line-height: 1.45;
  font-size: .88rem
}
