.mood-item-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  background: var(--bg-card);
  border-radius: 20px;
  margin: var(--container-margin);
  padding: 0.4rem;
  box-shadow: var(--shadow-md);
  animation: dropIn 0.5s ease-out;
}

@keyframes dropIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.item-content-wrapper {
  padding: 0.3rem 0.3rem 0 0;
}

.item-content {
  display: flex;
  justify-content: space-between;
}

.left-content {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  padding: 0.4rem 0.4rem 0.1rem 0.2rem;
  line-height: 1.2rem;
}

.item-content .svg-wrapper {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: #fff;
}

.item-content .item-name {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--text-primary);
}
.mood-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item-content .date {
  font-size: 0.77rem;
  color: var(--text-secondary);
}

.right-content {
  display: flex;
  gap: 0.7rem;
}

.right-content .edit-btn {
  width: 1.2rem;
  height: 1.2rem;
  border: none;
  border-radius: 100px;
  background: #efc51ffa;
  color: #fff;
  display:flex; 
  align-items: center;
  justify-content: center;
  justify-text: center;
  font-size:.6rem;
}

.right-content .remove-btn {
  width: 1.2rem;
  height: 1.2rem;
  border: none;
  border-radius: 100px;
  background: #ea3013b0;
  color: #fff;
  display:flex; 
  align-items: center;
  justify-content: center;
  justify-text: center;
  font-size:.6rem;
}

.reflection-container {
  margin: 0.2rem 0;
}

.reflection-container .reflection-text {
  padding: 0.1rem 0.8rem;
  color: var(--text-primary);
  line-height: 1.45;
  font-size: 0.88rem;
}
