.mood-item-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;

  background: var(--bg-card);
  border-radius: 20px;
  margin: var(--container-margin);
  padding: 0.4rem;
  box-shadow: var(--shadow-md);
}

.item-content {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding: 0.1rem 0.4rem 0.2rem 0.2rem;
}

.item-content .svg-wrapper {
  color: #fff;
}

.item-content .item-name {
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-primary);
}

.item-content .date {
  font-size: 0.7rem;
  color: var(--text-secondary);
}
