.top-nav-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.nav-mood-icon {
  width:30px;
  height:30px;
  background: rgba(138, 137, 137, 0.54);
  border-radius: 100%;
}
