/* Sliding Panel */
.recommendation-panel {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;

  background:
    var(--slide-radial-left), var(--slide-radial-right), var(--slide-base);
  background-repeat: no-repeat;
  box-shadow: var(--shadow-md);
  border-radius: 12px 12px;
  overflow: hidden;

  transform: scale(0, 0); /* start collapsed */
  transform-origin: bottom right; /* expand from bottom-right */
  padding: 0.6rem; /* start padding small */

  transition:
    transform 0.3s ease,
    padding 0.3s ease;
  z-index: 999;
}

.recommendation-panel.open {
  transform: scale(1, 1); /* expand fully */
  padding: 0.7rem 1rem;
}

/* Panel Header */
.recommendation-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.recommendation-header h4 {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 700;
}

.rec-footer-btns {
  display: flex;
  align-items: center;
}

.recommendation-panel .rec-try-different-wrapper {
  position: absolute;
  bottom: 1rem;
}

.rec-try-different-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  background: #ddc3a476;
  color: #555050;

  font-size: 0.6rem;
  font-weight: 500;
  padding: 0.55rem 0.8rem;
  border-radius: 2rem;
  border-width: 0;
}

.close-rec-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.recommendation-panel .close-rec-btn {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  right: 1.3rem;
  bottom: 1rem;
  background: #ddc3a476;
  color: #555050;

  width: 32px;
  height: 32px;
  font-weight: 800;
  border-radius: 2rem;
  border-width: 0;
}

.rec-picker {
  opacity: 0;
  transform: translateY(0rem);
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
}

.rec-picker.open {
  opacity: 1;
  transform: translateY(2rem);
}

.rec-picker-content {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.picker-que {
  font-size: 0.7rem;
}

.picker-options {
  display: flex;
  gap: 0.7rem;
}

.option-btn {
  background: #ddc3a476;
  color: #555050;
  padding: 0.4rem 0.8rem;
  border-radius: 2rem;
  border: none;
  font-size: 0.6rem;
  text-transform: capitalize;
}

/* Panel Text */
.insight-text {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

/* .recommendation-panel .rec-picker {
  position: absolute;
  bottom: 5rem;
} */

/* Music recommendation */
.music-container {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.music-info {
  display: flex;
  gap: 0.5rem;
}

.album-cover {
  min-width: 9rem;
  height: 9rem;
  border-radius: 10px;
  object-fit: cover;
}

.album-artist {
  font-size: 0.8rem;
  color: #a29a9a;
}

.play-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.audio-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 84%;
  max-width: 300px;
  margin-top: 3px;
  border-radius: 10px;
}

.music-next-btn {
  background: #ddc3a476;
  color: #7d7575;
  border: none;
  cursor: pointer;

  display: flex;
  align-content: center;
  justify-content: center;
  padding: 0.4rem;
  border-radius: 2rem;
}

/* skeleton loader */
.skeleton-image {
  width: 9rem;
  height: 9rem;
  background: #b7a9a9;
  border-radius: 0.5rem;
  animation: pulse 3s infinite ease-in-out;
}

.skeleton-info {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.skeleton-title {
  width: 10rem;
  height: 1rem;
  background: #b7a9a9;
  border-radius: 0.5rem;
  animation: pulse 3s infinite ease-in-out;
}

.skeleton-artist {
  width: 5rem;
  height: 1rem;
  background: #b7a9a9;
  border-radius: 0.5rem;
  animation: pulse 3s infinite ease-in-out;
}

.skeleton-play-container {
  display: flex;
  margin-top: 0.5rem;
  gap: 0.8rem;
}

.skeleton-audio {
  width: 80%;
  height: 1.8rem;
  background: #b7a9a9;
  border-radius: 0.5rem;
  animation: pulse 3s infinite ease-in-out;
}

.skeleton-next-btn {
  width: 1.8rem;
  height: 1.8rem;
  background: #b7a9a9;
  border-radius: 0.5rem;
  animation: pulse 3s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.4;
  }
}

/* movies styles */
.movie-info {
  display: flex;
  gap: 0.4rem;
}

.left-content {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.movie-title {
  font-weight: 800;
}

.year-released {
  font-size: 0.7rem;
  font-weight: 700;
  margin-bottom: 0.3rem;
}

.poster-cover {
  min-width: 9rem;
  height: 9rem;
  border-radius: 0.8rem;
}

.movie-overview {
  font-size: 0.6rem;
  min-width: 80%;
}

.next-movie-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.right-content {
}

.next-movie-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  background: #ddc3a476;
  color: #010000d7;
  border: none;
  border-radius: 2rem;
  padding: 0.01rem;
  width: 1rem;
  height: 3.9rem;
}
