/* Sliding Panel */
.recommendation-panel {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;

  transform: scale(0, 0); /* start collapsed */
  transform-origin: bottom right; /* expand from bottom-right */
  padding: 0.6rem; /* start padding small */

  background:
    var(--slide-radial-left), var(--slide-radial-right), var(--slide-base);
  background-repeat: no-repeat;
  box-shadow: var(--shadow-md);
  border-radius: 12px 12px;
  overflow: hidden;

  transition:
    transform 0.3s ease,
    padding 0.3s ease;
  z-index: 999;
}

.recommendation-panel.open {
  transform: scale(1, 1); /* expand fully */
  padding: 0.7rem 1rem;
}

/* Panel Header */
.recommendation-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.recommendation-header h4 {
  margin: 0;
  font-size: 15px;
  font-weight: 700;
}

.rec-footer-btns {
  display: flex;
  align-items: center;
}

.recommendation-panel .rec-try-different-wrapper {
  position: absolute;
  bottom: 1rem;
}

.rec-try-different-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  background: #ddc3a476;
  color: #555050;

  font-weight: 500;
  padding: 0.55rem 0.8rem;
  border-radius: 2rem;
  border-width: 0;
}

.close-rec-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.recommendation-panel .close-rec-btn {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  right: 1.3rem;
  bottom: 1rem;
  background: #ddc3a476;
  color: #555050;

  width: 32px;
  height: 32px;
  font-weight: 800;
  border-radius: 2rem;
  border-width: 0;
}

.rec-picker {
  opacity: 0;
  transform: translateY(4rem);
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
}

.rec-picker.open {
  opacity: 1;
  transform: translateY(3rem);
}

.rec-picker-content {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.picker-options {
  display: flex;
  gap: 0.7rem;
}

.option-btn {
  background: #ddc3a476;
  color: #555050;
  padding: 0.4rem 0.8rem;
  border-radius: 2rem;
  border: none;
  text-transform: capitalize;
}

/* Panel Text */
.insight-text {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

/* .recommendation-panel .rec-picker {
  position: absolute;
  bottom: 5rem;
} */

/* Music recommendation */
.music-container {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.music-info {
  display: flex;
  gap: 0.5rem;
}

.album-cover {
  width: 90px;
  height: 90px;
  border-radius: 10px;
  object-fit: cover;
}

.album-artist {
  font-size: 0.8rem;
  color: #a29a9a;
}

.play-container {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.audio-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 300px;
  height: 35px;
  margin-top: 3px;
  border-radius: 10px;
}

.next-btn {
  padding: 0.6rem 0.6rem;
  border-radius: 90px;
  border: none;
  background-color: var(--mood-calm);
  color: #fff;
  cursor: pointer;
  font-weight: 600;

  font-size: 0.55rem;
}

/* skeleton loader */
.skeleton-image {
  width: 1rem;
  height: 1rem;
  background: var(--bg-card);
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
}
